[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"fastapi[standard]" = "*"
uvicorn = "*"
pytest = "*"
httpx = "*"
pytest-cov = "*"


[requires]
python_version = "3.11"
